@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-display: swap;
}

body {
    font-family: 'Inter';
    font-weight: 400;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* header */


.header {
    padding: 36px 0;
    border-bottom: 1px solid #e6e8ec;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #23262f;
    text-decoration: none;
}

.header__vertical-line {
    width: 1px;
    height: 48px;
    background-color: #e6e8ec;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #777e90;
    text-decoration: none;
}


.nav__link:hover {
    color: #23262f;
}


.btn__goust {
    padding: 12px 16px;
    border-radius: 999px;
    border: 2px solid #e6e8ec;
    background: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: #777e90;
    cursor: pointer;
}

.btn__fill {
    width: 44px;
    height: 44px;
    background-color: #23262f;
    border: none;
    border-radius: 22px;
    background-image: url(../image/chat-writing.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn__goust:hover, .btn__fill:hover {
    background-color: #23262f;
    color: #fff;
    transition: background-color 0.3s ease;
}


/* Hero */


.hero {
    padding: 50px 0;
    border-bottom: 1px solid #e6e8ec;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    width: 530px;
}


.hero__social {
    display: flex;
    align-items: center;
    gap: 24px;

}

.social__link{
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}


.social__link_inst {
    background-image: url(../image/instagram.svg);
}

.social__link_twit {
    background-image: url(../image/twitter.svg);
}


.social__link_dribble {
    background-image: url(../image/dribbble.svg);
}


.hero__title {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -2%;
    color: #23262f;
    margin: 0;
}


.hero__subtitle {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #777e90;
}


.hero__player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    border: 1px solid #e6e8ec;
    background: none;
}


.player__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 525px;
    height: 525px;
    border-radius: 50%;
    background: url(../image/player.jpg) center center no-repeat;
}


.player__button {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #e6e8ec;
    border: none;
    background-image: url(../image/play.svg);
    background-position: center;
    background-repeat: no-repeat;
}


/* gallery */


.gallery {
    padding: 90px 0 58px 0;
    border-bottom: 1px solid #e6e8ec;
}

.gallery__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}


.gallery__nav {
    display: flex;
    align-items: center;
    gap: 12px;
}


.gallery__button {
    padding: 6px 12px;
    border-radius: 999px;
    background: none;
    border: none;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #23262f;
    cursor: pointer;
}


.gallery__button_active {
    background-color: #23262f;
    color: #e6e8ec;
}

.gallery__button:hover {
    outline: 1px solid #777e90;
    outline-offset: -2px;
}


.gallery__cards {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card__img {
    width: 379px;
    height: 450px;
    border-radius: 8px;
    background-size: cover;
    margin-bottom: 24px;
}


.card__name {
    font-size: 14px;
    font-weight: 600;
    color: #23262f;
    line-height: 24px;
}

.card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.card__data {
    font-size: 14px;
    line-height: 24px;
    color: #777e90;
}

    
.gallery__card {
    margin-bottom: 32px;
}

.gallery__card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


/* footer */


.footer {
    padding: 50px 0;
}


.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.footer__nav {
    display: flex;
    align-items: center;
    gap: 32px;
}


.footer__copyright {
    font-size: 14px;
    line-height: 24px;
    color: #777e90;
}


@media (max-width: 768px) {


/* header */


    .container {
        width: 648px;
    }


    .header__vertical-line {
        display: none;
    }


    .header__nav {
        display: none;
    }


    .btn__goust {
        display: none;
    }


    .btn__fill {
        display: none;
    }


    .header__icon-menu {
        width: 44px;
        height: 44px;
        background-image: url(../image/menu.svg);
        background-position: center;
        background-repeat: no-repeat;
    }


/* hero */


    .hero__title {
        font-size: 64px;
        line-height: 64px;
    }


    .hero__subtitle {
        font-size: 16px;
        line-height: 24px;
    }


    .hero__container {
        flex-direction: column;
        gap: 48px;
    }


    .hero__content {
        width: 100%;
    }


    .hero__player {
        width: 100%;
        height: 350px;
    }


    .player__preview {
        width: 588px;
        height: 290px;
        border-radius: 145px;
    }


    .card__img {
        width: 308px;
        height: 450px;
    }
}


@media (max-width: 474px) {


/* header */


    .container {
        width: 410px;
    }


/* hero */


    .hero__title {
        font-size: 48px;
        line-height: 56px;
    }


    .hero__container {
        flex-direction: column;
        gap: 48px;
    }


    .hero__player {
        width: 360px;
        height: 360px;
        border-radius: 180px;
    }


    .player__preview {
        width: 300px;
        height: 300px;
        border-radius: 150px;
    }


    .card__img {
        width: 100%;
    }
}







/* page */

/* Hero */


.hero-p1 {
    padding: 50px 0;
    border-bottom: 1px solid #e6e8ec;
}

.hero__container-p1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content-p1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    width: 530px;
}


.hero__title-p1 {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -2%;
    color: #23262f;
    margin: 0;
}


.hero__subtitle-p1 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #777e90;
}


.hero__data-page-p1 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #777e90;
}


.hero__player-p1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 650px;
    border-radius: 6px;
    border: 1px solid #e6e8ec;
    background: none;
}


.player__preview-p1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 650px;
    border-radius: 6px;
    background: url(../image/player-p1.jpg) center center no-repeat;
}


.player__button-p1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #e6e8ec;
    border: none;
    background-image: url(../image/play.svg);
    background-position: center;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {


    /* header */
    
    
        .container {
            width: 648px;
        }
    
    
        .header__vertical-line {
            display: none;
        }
    
    
        .header__nav {
            display: none;
        }
    
    
        .btn__goust {
            display: none;
        }
    
    
        .btn__fill {
            display: none;
        }
    
    
        .header__icon-menu {
            width: 44px;
            height: 44px;
            background-image: url(../image/menu.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    
    
    /* hero */
    
    
        .hero__title-p1 {
            font-size: 64px;
            line-height: 64px;
        }
    
    
        .hero__subtitle-p1 {
            font-size: 16px;
            line-height: 24px;
        }
    
    
        .hero__container-p1 {
            flex-direction: column;
            gap: 48px;
        }
    
    
        .hero__content-p1 {
            width: 100%;
        }
    
    
        .hero__player-p1 {
            width: 100%;
            height: 350px;
        }
    
    
        .player__preview-p1 {
            width: 588px;
            height: 290px;
            border-radius: 145px;
        }
    
    
        .card__img {
            width: 308px;
            height: 450px;
        }
    }
    
    
    @media (max-width: 474px) {
    
    
    /* header */
    
    
        .container {
            width: 410px;
        }
    
    
    /* hero */
    
    
        .hero__title-p1 {
            font-size: 48px;
            line-height: 56px;
        }
    
    
        .hero__container-p1 {
            flex-direction: column;
            gap: 48px;
        }
    
    
        .hero__player-p1 {
            width: 360px;
            height: 360px;
            border-radius: 180px;
        }
    
    
        .player__preview-p1 {
            width: 300px;
            height: 300px;
            border-radius: 150px;
        }
    
    
        .card__img {
            width: 100%;
        }
    }
